@model FamilyHubs.ServiceDirectory.Admin.Web.ViewModel.InputPageViewModel
@{
    var error = Model.Errors.GetErrorIfTriggered();
    Layout = "_Layout.cshtml";
}

@section Head {
    @await RenderSectionAsync("Head", false)
}

@section Scripts{
    @await RenderSectionAsync("Scripts", false)
}

@section Back {
    <a href="@Model.BackButtonPath" class="govuk-back-link">Back</a>
}

<partial name="_ErrorSummaryNext" model="Model.Errors" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <input type="hidden" id="backButtonPath" name="BackButtonPath" asp-for="BackButtonPath" />
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" >
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading app-wrap-anywhere">
                            @Model.PageHeading
                        </h1>
                    </legend>

                    @if (!string.IsNullOrEmpty(Model.HintText))
                    {
                    <div class="govuk-hint app-wrap-anywhere">
                            @Model.HintText
                        </div>
                    }

                    <div class="govuk-form-group @(error?.FormGroupClass)">
                        <partial name="_ErrorMessageNext" model="error" />
                        @RenderBody()
                    </div>

                </fieldset>
            </div>
            <button class="govuk-button" id="buttonContinue">
                @Model.SubmitButtonText
            </button>
        </form>
    </div>
</div>
