@using FamilyHubs.ServiceDirectory.Shared.ReferenceData
@using FamilyHubs.ServiceDirectory.Shared.ReferenceData.ICalendar
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.LocalOfferResultsModel

<button data-toggle-visibility-id="filters" id="open-close-filters"
        class="govuk-button govuk-button--secondary app-open-close-filters" data-module="govuk-button"
        type="button">Open / close filters
</button>

<div class="govuk-grid-column-one-third">
    <div class="moj-filter">
        <div class="moj-filter__selected">
            <div class="govuk-!-padding-bottom-4">
                <div class="moj-filter__selected-heading">
                    <div class="moj-filter__heading-title">
                        <h2 class="govuk-heading-m">Filter results</h2>
                    </div>
                    <div class="moj-filter__heading-action">
                        <p class="govuk-!-font-size-16"><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                    </div>
                </div>
            </div>
            
            @* - Remove Categories - *@
            @if (Model.SubcategorySelection?.Any() == true)
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Category</h3>
                <ul class="moj-filter-tags">
                    @foreach (var categoryId in Model.SubcategorySelection.Select(int.Parse))
                    {
                        <li>
                            <button type="submit" class="moj-filter__tag fh-icon-cross">
                                <span class="govuk-visually-hidden">Remove this filter</span>
                                @Model.Categories.First(category => category.Id == categoryId).Name
                            </button>
                        </li>
                    }
                </ul>
            }
            @* - Remove Categories - *@

            @* - Remove Cost - *@
            @if (Model.OnlyShowFreeServices)
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Cost</h3>
                <ul class="moj-filter-tags">
                    <li>
                        <span class="govuk-visually-hidden">Remove this filter</span>
                        <button type="submit" class="moj-filter__tag fh-icon-cross">
                            Only show free services
                        </button>
                    </li>
                </ul>
            }
            @* - Remove Cost - *@

            @* - Remove Days Available - *@
            @if (Model.DaysAvailable?.Any() == true)
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Days service is available</h3>
                <ul class="moj-filter-tags">
                    @foreach (var daySelected in Model.DaysAvailable)
                    {
                        <li>
                            <span class="govuk-visually-hidden">Remove this filter</span>
                            <button type="submit" class="moj-filter__tag fh-icon-cross">
                                @Calendar.DayCodeToName[daySelected]
                            </button>
                        </li>
                    }
                </ul>
            }
            @* - Remove Days Available - *@

            @* - Remove Age - *@
            @if (Model.SelectedAges?.Any() == true)
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Age</h3>
                <ul class="moj-filter-tags">
                    @foreach (var selectedAge in Model.SelectedAges)
                    {
                        <li>
                            <span class="govuk-visually-hidden">Remove this filter</span>
                            <button type="submit" class="moj-filter__tag fh-icon-cross">
                                @LocalOfferResultsModel.AgeRange.First(age => age.Value.Equals(selectedAge)).Text
                            </button>
                        </li>
                    }
                </ul>
            }
            @* - Remove Age - *@

            @* - Remove Language - *@
            @if (Model.SelectedLanguage is not null)
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Language</h3>
                <ul class="moj-filter-tags">
                    <li>
                        <span class="govuk-visually-hidden">Remove this filter</span>
                        <button type="submit" class="moj-filter__tag fh-icon-cross">
                            @Languages.CodeToName[Model.SelectedLanguage]
                        </button>
                    </li>
                </ul>
            }
            @* - Remove Language - *@

            @* - Remove Search Within - *@
            @if (Model.SelectedDistance is not null)
            {
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Search within</h3>
                <ul class="moj-filter-tags">
                    <li>
                        <span class="govuk-visually-hidden">Remove this filter</span>
                        <button type="submit" class="moj-filter__tag fh-icon-cross">
                            @LocalOfferResultsModel.DistanceRange.First(distance => distance.Value.Equals(Model.SelectedDistance)).Text
                        </button>
                    </li>
                </ul>
            }
            @* - Remove Search Within - *@
            
        </div>
        <div class="moj-filter__content">
            <div class="moj-filter__options">
                <div class="govuk-form-group">
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/Filters/_Categories", Model)
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/Filters/_Cost", Model)
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/Filters/_DaysAvailable", Model)
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/Filters/_Age", Model)
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/Filters/_Languages", Model)
                    @await Html.PartialAsync("LocalOfferResultsPartialViews/Filters/_SearchWithin", Model)
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button"
                        data-test-id="submit-button">
                    Apply filters
                </button>

            </div>
        </div>
    </div>
</div>