@using FamilyHubs.ServiceDirectory.Shared.ReferenceData
@using FamilyHubs.ServiceDirectory.Shared.ReferenceData.ICalendar
@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.LocalOfferResultsModel

@* Handles removing individual filters in the "Filter results" header section *@

@* - Categories - *@
@if (Model.SubcategorySelection?.Any() == true)
{
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Category</h3>
    <ul class="moj-filter-tags">
        @foreach (var selectedCategory in Model.SubcategorySelection.Select(int.Parse))
        {
            string dataTestId = $"clear-filter-category-{selectedCategory}";
            <li>
                <button data-testid=@dataTestId type="submit" class="moj-filter__tag fh-icon-cross"
                        asp-route-removeFilter=true name="removeCategories" value=@selectedCategory>
                    <span class="govuk-visually-hidden">Remove this filter</span>
                    @Model.Categories.First(category => category.Id == selectedCategory).Name
                </button>
            </li>
        }
    </ul>
}

@* - Cost - *@
@if (Model.OnlyShowFreeServices)
{
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Cost</h3>
    <ul class="moj-filter-tags">
        <li>
            <span class="govuk-visually-hidden">Remove this filter</span>
            <button data-testid="clear-filter-cost" type="submit" class="moj-filter__tag fh-icon-cross"
                    asp-route-removeFilter=true name="removeCost" value="true">
                Only show free services
            </button>
        </li>
    </ul>
}

@* - Days Available - *@
@if (Model.DaysAvailable?.Any() == true)
{
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Days service is available</h3>
    <ul class="moj-filter-tags">
        @foreach (var daySelected in Model.DaysAvailable)
        {
            string dataTestId = $"clear-filter-days_available-{daySelected}";
            <li>
                <span class="govuk-visually-hidden">Remove this filter</span>
                <button data-testid=@dataTestId type="submit" class="moj-filter__tag fh-icon-cross"
                        asp-route-removeFilter=true name="removeDaysAvailable" value=@daySelected>
                    @Calendar.DayCodeToName[daySelected]
                </button>
            </li>
        }
    </ul>
}

@* - Ages - *@
@if (Model.SelectedAges?.Any() == true)
{
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Age</h3>
    <ul class="moj-filter-tags">
        @foreach (var selectedAge in Model.SelectedAges)
        {
            string dataTestId = $"clear-filter-age-{selectedAge}";
            <li>
                <span class="govuk-visually-hidden">Remove this filter</span>
                <button data-testid=@dataTestId type="submit" class="moj-filter__tag fh-icon-cross"
                        asp-route-removeFilter=true name="removeAge" value=@selectedAge>
                    @LocalOfferResultsModel.AgeRange.First(age => age.Value.Equals(selectedAge)).Text
                </button>
            </li>
        }
    </ul>
}

@* - Language - *@
@if (Model.SelectedLanguage is not null)
{
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Language</h3>
    <ul class="moj-filter-tags">
        <li>
            <span class="govuk-visually-hidden">Remove this filter</span>
            <button data-testid="clear-filter-language" type="submit" class="moj-filter__tag fh-icon-cross"
                    asp-route-removeFilter=true name="removeLanguage" value=@Model.SelectedLanguage>
                @Languages.CodeToName[Model.SelectedLanguage]
            </button>
        </li>
    </ul>
}

@* - Search Within - *@
@if (Model.SelectedDistance is not null)
{
    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Search within</h3>
    <ul class="moj-filter-tags">
        <li>
            <span class="govuk-visually-hidden">Remove this filter</span>
            <button data-test-id="clear-filter-search_within" type="submit" class="moj-filter__tag fh-icon-cross"
                    asp-route-removeFilter=true name="removeSearchWithin" value=@Model.SelectedDistance>
                @LocalOfferResultsModel.DistanceRange.First(distance => distance.Value.Equals(Model.SelectedDistance)).Text
            </button>
        </li>
    </ul>
}