@model FamilyHubs.Referral.Web.Pages.ProfessionalReferral.LocalOfferResultsModel

<ul class="search-results">
    @foreach (var item in Model.SearchResults.Items)
    {
        var eligibility = item.Eligibilities.FirstOrDefault();
        var serviceNameTestId = @item.Name.ToLower().Replace(" ", "");

         <li tab-index="0" data-testid="@($"service-area-{serviceNameTestId}")">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-3">
                <a class="govuk-link" asp-page="/ProfessionalReferral/LocalOfferDetail" asp-route-serviceid="@item.Id"
                  data-testid="@serviceNameTestId">@item.Name</a><span class="govuk-!-font-weight-regular">@item.DistanceText</span>
            </h2>
            @if (!string.IsNullOrWhiteSpace(item.OrganisationName))
            {
                <dl class="govuk-body-s">
                    <dt class="govuk-!-font-weight-bold">Organisation</dt>
                    <dd>@(item.OrganisationName)</dd>
                </dl>
            }
            @if (item.Taxonomies.Any())
            {
                <dl class="govuk-body-s">
                    <dt class="govuk-!-font-weight-bold">Category</dt>
                    <dd>
                        <ul class="govuk-list govuk-body-s govuk-!-margin-bottom-0">
                            @foreach (var serviceTaxonomy in item.Taxonomies)
                            {
                                <li>@serviceTaxonomy.Name</li>
                            }
                        </ul>
                    </dd>
                </dl>
            }
            @if (eligibility != null)
            {
                <dl class="govuk-body-s">
                    <dt class="govuk-!-font-weight-bold">Age range</dt>
                    <dd>@(AgeDisplayExtensions.AgeToString(eligibility.MinimumAge)) to @(AgeDisplayExtensions.AgeToString(eligibility.MaximumAge)) years
                        old
                    </dd>
                </dl>
            }

            <dl class="govuk-body-s">
                <dt class="govuk-!-font-weight-bold">Where</dt>
                <dd class="fh-pre-wrap">@if (item.Locations.Any())
                    {
                        @(LocalOfferResultsModel.GetAddressAsString(item))
                    }
                </dd>
            </dl>

            <dl class="govuk-body-s">
                <dt class="govuk-!-font-weight-bold">Cost</dt>
                @if (item.CostOptions.Count > 0)
                {
                    <dd>Yes, there is a cost for this
                        service. @item.CostOptions.FirstOrDefault()?.AmountDescription</dd>
                }
                else
                {
                    <dd>Free</dd>
                }
            </dl>
        </li>
    }
</ul>
<partial name="_LargeSetPaginationForm" model="Model.Pagination"/>