@page
@model WelcomeModel
@{
    ViewData["Title"] = Model.Heading;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
            <span class="govuk-caption-l">@Model.CaptionText</span>
            @Model.Heading
        </h1>
        
        <p class="govuk-body">@Model.Description</p>
        
        @switch (Model.MenuPage)
        {
            case MenuPage.Dfe:
                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                <partial name="_MenuSection" model="@("Accounts")" />
                <div class="cards">
                    <partial name="_AddUserCard" />
                    <partial name="_ManageUsersCard" />
                </div>

                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                <partial name="_MenuSection" model="@("Local authorities (LAs)")" />
                <div class="cards">
                    <partial name="_AddServiceCard" model="@ServiceTypeArg.La" />
                    <partial name="_ManageServicesCard" model="@ServiceTypeArg.La" />
                    <partial name="_AddLocationCard" />
                    <partial name="_ManageLocationsCard" />
                </div>
                
                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                <partial name="_MenuSection" model="@("Voluntary community organisations (VCSs)")" />
                <div class="cards">
                    <partial name="_AddServiceCard" model="@ServiceTypeArg.Vcs" />
                    <partial name="_ManageServicesCard" model="@ServiceTypeArg.Vcs" />
                    <partial name="_AddLocationCard" />
                    <partial name="_ManageLocationsCard" />
                    <partial name="_AddOrganisationCard" />
                    <partial name="_ManageOrganisationsCard" />
                </div>
                
                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                <partial name="_MenuSection" model="@("Performance data")" />
                <div class="cards">
                    <partial name="_PerformanceDataCard" model="true" />
                </div>
                break;

            case MenuPage.La:
                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                <partial name="_MenuSection" model="@("Accounts")" />
                <div class="cards">
                    <partial name="_AddUserCard" />
                    <partial name="_ManageUsersCard" />
                </div>
                
                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                <partial name="_MenuSection" model="@("Local authority services and locations")" />
                <div class="cards">
                    <partial name="_ServicesCard" model="@ServiceTypeArg.La" />
                    <partial name="_LocationsCard" />
                </div>
                
                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                <partial name="_MenuSection" model="@("Voluntary community organisations")" />
                <div class="cards">
                    <partial name="_ManageOrganisationsCard" />
                </div>
                
                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                <partial name="_MenuSection" model="@("Performance data")" />
                <div class="cards">
                    <partial name="_PerformanceDataCard" model="false" />
                </div>
                break;

            case MenuPage.Vcs:
                <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
                <div class="cards govuk-!-margin-top-8">
                    <partial name="_ServicesCard" model="@ServiceTypeArg.Vcs" />
                    <partial name="_LocationsCard" />
                </div>
                break;
        }
    </div>
</div>
