@page
@using FamilyHubs.ServiceDirectory.Web.Models.ServiceDetail
@model FamilyHubs.ServiceDirectory.Web.Pages.ServiceDetail.Index

@section Back
{
    <a href="@Model.BackUrl" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">@Model.Service.Name</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-margin-bottom-6">@Model.Service.Summary</p>

        <h2 class="govuk-heading-m">Service details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           @if (Model.Service.Categories.Any())
           {
               <div class="govuk-summary-list__row">
                   <dt class="govuk-summary-list__key">
                       Support it offers
                   </dt>
                   <dd class="govuk-summary-list__value">
                       <ul class="govuk-list">
                           @foreach (var supportOffered in Model.Service.Categories)
                           {
                               <li>@supportOffered</li>
                           }
                       </ul>
                   </dd>
               </div>
           }
            @if (!string.IsNullOrEmpty(Model.Service.Eligibility))
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Does support relate to children or young people?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Service.Eligibility
                    </dd>
                </div>
            }
            @if (Model.Service.Languages.Any())
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Languages
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list">
                            @foreach (var language in Model.Service.Languages)
                            {
                                <li>@language</li>
                            }
                        </ul>
                    </dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Service.Cost))
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Cost
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Service.Cost
                    </dd>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Service.AttendingTypes))
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        How this service is provided
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Service.AttendingTypes
                    </dd>
                </div>
            }
        </dl>

        @for (var i = 0; i < Model.Service.Locations.Count; i++)
        {
            var location = Model.Service.Locations[i];
            <h2 class="govuk-heading-m">Location @(i + 1)</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="replace-commas">
                @if (location.Address.Any())
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Address
                        </dt>
                        <dd class="govuk-summary-list__value">
                        <ul class="govuk-list">
                            @foreach (var addressSegment in location.Address)
                            {
                                <li>@addressSegment</li>
                            }
                        </ul>
                    </div>
                }
                @if (!string.IsNullOrEmpty(location.IsFamilyHub))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Family hub
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @location.IsFamilyHub
                        </dd>
                    </div>
                }
                @if (location.Accessibilities.Any())
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Accessibility details
                        </dt>
                        <ul class="govuk-list">
                            @foreach (var accessibility in location.Accessibilities)
                            {
                                <li>@accessibility</li>
                            }
                        </ul>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(location.Details))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Location details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @location.Details
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(location.Schedule.DaysAvailable))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Days service is available
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @location.Schedule.DaysAvailable
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(location.Schedule.ExtraAvailabilityDetails))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Extra availability details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @location.Schedule.ExtraAvailabilityDetails
                        </dd>
                    </div>
                }
            </dl>
        }

        @if (Model.Service.Schedule is not null)
        {
            <h2 class="govuk-heading-m">@Model.Service.OnlineTelephone</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="replace-commas">
                @if (!string.IsNullOrWhiteSpace(Model.Service.Schedule.DaysAvailable))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Days service is available
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Service.Schedule.DaysAvailable
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Service.Schedule.ExtraAvailabilityDetails))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Extra availability details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Service.Schedule.ExtraAvailabilityDetails
                        </dd>
                    </div>
                }
            </dl>
        }

        @if (!string.IsNullOrWhiteSpace(Model.Service.MoreDetails))
        {
            <h2 class="govuk-heading-m">More details</h2>
            <p class="govuk-body govuk-!-margin-bottom-9">@Model.Service.MoreDetails</p>
        }

        @if (Model.HasContactDetails)
        {
            <h2 class="govuk-heading-m">Contact details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                @if (!string.IsNullOrWhiteSpace(Model.Service.Contact.Email))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="mailto:@Model.Service.Contact.Email">@Model.Service.Contact.Email</a>
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Service.Contact.Phone))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Phone
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="tel:@Model.Service.Contact.Phone">@Model.Service.Contact.Phone</a>
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Service.Contact.Website))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Website
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="@Model.Service.Contact.Website">@Model.Service.Contact.Website</a>
                        </dd>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Service.Contact.TextMessage))
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Text message
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a href="tel:@Model.Service.Contact.TextMessage">@Model.Service.Contact.TextMessage</a>
                        </dd>
                    </div>
                }
            </dl>
        }
    </div>
</div>