@page
@model FamilyHubs.ServiceDirectory.Admin.Web.Areas.VcsAdmin.Pages.ManageOrganisationsModel
@{
    const string pageTitle = "Manage voluntary community sector organisations";
    ViewData["Title"] = pageTitle;
}

@section Back {
    <a asp-page="/Welcome" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@pageTitle</h1>
        <p class="govuk-body">View, edit and delete organisations within your local authority area or <a asp-page-handler="AddOrganisation">add an organisation</a>.</p>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <form method="post">
            <div class="filters-component panel-component__content" id="filters-component" data-controller="filters">
                <div class="filters-component__heading">
                    <h2 class="govuk-heading-m">Filter organisations</h2>
                </div>
                <div class="filters-component__groups">
                    <div class="filters-component__groups__group">
                        <div>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <h3 class="govuk-fieldset__heading">Organisation name</h3>
                                    </legend>
                                    <label class="govuk-label govuk-visually-hidden" for="search-box">
                                        Search by the name of the organisation
                                    </label>
                                    <input asp-for="@Model.SearchQueryOrganisationName" class="govuk-input govuk-input--width-20" id="search-box" type="text"/>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="govuk-button">Apply filters</button>
                <p>
                    <a asp-page="ManageOrganisations" asp-area="VcsAdmin">Clear filters</a>
                </p>
            </div>
        </form>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <form method="post">
            <table class="govuk-table">

                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <component type="typeof(Components.SortHeaderComponent)" param-Title='"Organisation"' param-Name="@ManageOrganisationsModel.OrganisationColumn" param-SortBy="@Model.SortBy" param-Class='"width-100"' param-DataIndex="0" render-mode="Static"/>
                    @if (Model.IsDfeAdmin)
                    {
                        <component type="typeof(Components.SortHeaderComponent)" param-Title='"Local authority"' param-Name="@ManageOrganisationsModel.LaColumn" param-SortBy="@Model.SortBy" param-Class='"width-100"' param-DataIndex="1" render-mode="Static"/>
                    }
                </tr>
                </thead>

                <tbody class="govuk-table__body">

                @foreach (var organisation in Model.PaginatedOrganisations.Items)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a asp-page="ViewOrganisation" asp-route-OrganisationId="@organisation.OrganisationId" data-testid="view_@Model.GetTestId(organisation.OrganisationName)">
                                <span class="govuk-visually-hidden">View</span>@organisation.OrganisationName
                            </a>
                        </td>
                        @if (Model.IsDfeAdmin)
                        {
                            <td class="govuk-table__cell">@organisation.LocalAuthority</td>
                        }
                    </tr>
                }
                </tbody>
            </table>
            <partial name="_LargeSetPaginationForm" model="Model.Pagination"/>
        </form>
    </div>
</div>